@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-zinc-100 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100;
}

.react-flow__controls-button {
  /* Size: w-26 h-30 (custom Tailwind values) */
  width: 30px !important; /*w-26 = 26 * 4px */
  height: 30px !important; /* h-30 = 30 * 4px */
  margin: 5px;
  /* Background: none/transparent */
  background: rgb(192 132 252 / 0.5) !important;
  border: none !important;
  box-shadow: none !important;

  /* Button appearance */
  color: #6b7280;
  font-size: 18px;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 200ms ease;
  padding: 0;
}

.react-flow__controls-button:hover {
  background: rgba(139, 92, 246, 0.15) !important;
  border: 1px solid rgb(192 132 252 / 0.5) !important;
  color: #7c3aed;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(139, 92, 246, 0.2);
}

.react-flow__controls-button:active {
  transform: scale(0.95);
}

.dark .react-flow__controls-button {
  color: #d1d5db;
}

.dark .react-flow__controls-button:hover {
  background: rgba(172, 146, 231, 0.851) !important;
  border: 1px solid rgba(168, 85, 247, 0.4) !important;
  color: #a855f7;
  box-shadow: 0 4px 12px rgba(139, 92, 246, 0.3);
}

.react-flow__controls {
  border-radius: 10px;
  border: 1px solid rgba(117, 40, 224, 0.732);
  background: rgba(213, 192, 255, 0.505) !important;
  /* border: none !important; */
  /* box-shadow: none !important; */
  gap: 0 !important;
  bottom: auto !important;
  width: 65px;
  padding: 5px;
}

.dark .react-flow__controls {
  border-color: rgb(185 130 231 / 95%);
}

.react-flow__handle-right {
  right: -8px !important;
}

.react-flow__handle {
  width: 15px !important;
  height: 15px !important;
}

.react-flow__handle-left {
  left: -8px !important;
}
